@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  width: 1340px;
  margin: auto;
}

header{
  background-color: #FFC107;
  display: flex;
  justify-content: center;
}

header img{
  padding: 15px 0;
}

nav{
  background-color: #FFA000;
}


nav ul li a{
  color: white;
  text-decoration: none;
  font-family: Montserrat;
}

nav ul li{
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li{
  font-size: 20px;
  font-weight: 700;
  padding: 7px 30px 7px 30px;
}

.header-section{
  color: #FFA000;
  font-size: 55px;
  font-weight: 700;
  font-family: Montserrat;

  text-align: center;
  margin: 50px auto;
}

.content-main{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}



img{
  max-width: 98vw;
}

.mensagem{
  position: absolute;
  top: 300px;
  right: 50px;
  width: 400px;
  color: white;
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  font-family: Montserrat;
  font-weight: 700;
}

.content-main a{
  background-color: #176902;
  padding: 10px 45px;
  border: 0;
  text-align: center;
  width: 200px;
  margin: auto;
  

  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  font-family: Montserrat;
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;
}

.mensagem-final{
  color: white;
  font-family: Montserrat;
  
  position: absolute;
  width: 588px;
  height: 96px;
  left: 122px;
  top: 1558px;
}

.mensagem-final h2{
  font-size: 60px;
  margin-bottom: 80px;
}

.mensagem-final p{
  font-size: 22px;
  width: 380px;
  margin-top: 30px;
}

.content-main p{
  font-weight: 700;
  font-size: 24px;
  font-family: Montserrat;
  text-align: center;
  padding: 25px 0;
}


footer{
  background-color: #FFC107;
  display: flex;
  flex-direction: row;
}

